<nav class="navbar navbar-default fgms-mega-menu">
	<div class="container-fluid">
		<div class="navbar-header">
			{% set id = random() %}
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fgms-mega-menu-navbar-collapse-{{id|e('html_attr')}}" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="fgms-mega-menu-navbar-collapse-{{id|e('html_attr')}}">
			<ul class="{{class|default('nav navbar-nav')|e('html_attr')}}">
				{% for item in menu.items %}
					{% if item.get_children and childtype is defined and childtype == 'dropdown' %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{item.get_link|e('html_attr')}}">{{item.title}} <span class="caret"></span></a>
							{% set content = '' %}
							{% if item.meta('mega_menu_template') %}
								{% set content = include(item.meta('mega_menu_template'),{item: item},with_context = false,ignore_missing = true,sandboxed = true) %}
							{% endif %}
							{% if not content %}
								{% set content = include('megamenu.twig',{item: item},with_context = false,ignore_missing = true,sandboxed = true) %}
							{% endif %}
							{% if content %}
								<div class="dropdown-menu">
									<ul class="fgms-mega-menu-nav">
										{% for child in item.get_children %}
											<li><a href="{{child.get_link|e('html_attr')}}">{{child.title}}</a></li>
										{% endfor %}
									</ul>
									<div class="fgms-mega-menu-content">{{content|raw}}</div>
								</div>
							{% else %}
								<ul class="dropdown-menu">
									{% for child in item.get_children %}
										<li><a href="{{child.get_link|e('html_attr')}}">{{child.title}}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% else %}
						<li>
							<a href="{{item.get_link|e('html_attr')}}">{{item.title}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>